.file-box
{
    border: 2px solid black;
    display: flex;
    position: relative;
}

.file-box-header
{
    width: 100%;
    height: 15%;
    line-height: 15%;
    background-color: #000000;
    color: #fefefe;
    position: absolute;
}

.text-file-box-header
{
    width: 100%;
    height: 33%;
    line-height: 33%;
    background-color: #000000;
    color: #fefefe;
    position: absolute;
}

.file-box-header-left
{
    float: left;
    display: flex;
    align-items: left;
    height: 100%;
}

.file-box-header-right
{
    float: right;
    display: flex;
    align-items: left;
    height: 100%;
}

.file-box-header-title
{
    font-size: 100%;
    font-size: 2vh;
    margin-left: 5px;
    display: inline-flex;
    align-items: center;
}

.file-box-header-button
{
    font-size: 100%;
    display: inline-flex !important;
    align-items: center;
    margin-right: 1vh;
}

.file-box-body
{
    background-color:#fefefe;
    height:85%;
    position: absolute;
    width: 100%;
    top: 15%;
}

.text-file-box-body
{
    background-color:#fefefe;
    height:67%;
    position: absolute;
    width: 100%;
    top: 33%;
}

.file-file
{
    visibility: hidden;
}

.file-image
{
    margin:0px;
    width: 100%;
    height: 100%;
}

.file-name
{
    margin:0px;
    width: 100%;
    height: 100%;
    font-size: 2vh;
}