
.nav-header
{
    position: relative;
    width:100%;
    height: 80px;
    top:0;
    border-bottom: 3px groove #cec2c2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #033D58;
    font-family: 'Fieldwork Geo Regular';
}

.nav-header-icon
{
    display: inline-flex;
    align-items: center;
    text-align: center;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 1;
}

.nav-header-icon-img
{
    max-height: 70px;
    margin-left: 1vw;
    margin-right: auto;
    object-fit: scale-down;
}

.nav-header-title-old
{
    display: inline-flex;
    align-items: center;
    margin-left: 30px;
    height: 100%;
}

.nav-header-title
{
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    align-items: center;
    margin-left: 20px;
    height: 100%;
}

.nav-header-user
{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    margin-left: 30px;
    height: 100%;
}

.user-name
{
    color: #FF7C66;
    font-size: 14px;
    line-height: 0.5;
    vertical-align: text-bottom;
}

.user-summary
{
    color: #FF7C66;
    font-size: 12px;
    line-height: 0.5;
    vertical-align: middle;
}

.nav-header-avatar
{
    border-radius: 100%;
}

.nav-header-text
{
    color: #FF7C66;
    font-size: 18px;
    white-space: nowrap;
}

.nav-header-sub-text
{
    color: #FF7C66;
    font-size: 12pt;
    white-space: nowrap;
}
.nav-header-controls
{
    height: 100%;
    display: inline-flex;
    flex-grow: 0;
    flex-shrink: 1;
    align-items: center;
    margin-left: auto;
    padding: 10px;
}

.nav-header-controls-button
{
    color: #FF7C66 !important;
    font-size: 18pt !important;
    margin-right: 10px;
    font-weight: normal !important;
    cursor: pointer;
}

.nav-header-controls-button:hover
{
    color: #fefefe !important;
    cursor: pointer;
}

.nav-header-controls-image {
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.nav-header-link
{
    color: #ccc !important;
    font-size: 14pt !important;
    padding-left: 15px;
    padding-right: 20px;
    font-weight: normal !important;
    cursor: pointer;
    white-space: nowrap;
}

.nav-header-link:hover
{
    color: #fefefe !important;
    text-decoration: underline;
}

.nav-menu
{
    color: #ccc !important;
    font-size: 14pt !important;
    padding-left: 6px;
    padding-right: 20px;
    font-weight: normal !important;
    cursor: pointer;
    white-space: nowrap;
}

.nav-sub-menu:hover
{
    color: #fefefe !important;
    text-decoration: underline;
}

.nav-sub-menu
{
    margin-left: 20px;
    background-color: #242b39;
    padding-left: 20px;
    padding-right: 20px;
    color: #ccc;
    /* overflow: visible; */
    z-index: 1000;
    font-size: 14pt;
    white-space: nowrap;
}

.hot
{
    color: #f07979 !important;
}